[Service]
Type=oneshot
Environment=SRC_DIR=/usr/local/src
EnvironmentFile=-/etc/github/env
ExecStartPre=/bin/mkdir -p ${SRC_DIR}/%I.git
ExecStart=/usr/bin/git clone git@github.com:%I.git ${SRC_DIR}/%I.git
